<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chanxa.linayi">

    <!--系统权限-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- ****************************腾讯Bugly所需权限************************************* -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="邻阿姨社区端"
        android:roundIcon="@mipmap/start"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">

        <!-- 下载更新广播 -->
        <receiver android:name=".tools.ApkInstall.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!--下载安装apk对路径临时授权,自己写升级功能专用 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chanxa.linayi.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--bug升级安装权限-->
        <provider
            android:name=".tools.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource"/>
        </provider>

        <!--main-->
        <activity
            android:name=".uis.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 登录 -->
        <activity android:name=".uis.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 个人设置,找密码 -->
        <activity
            android:name=".uis.login.FindPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uis.Personal.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 订单 -->
        <activity
            android:name=".uis.Order.OrderStatusActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".uis.Order.OrderDetailsActivity" />

        <!-- 任务 -->
        <activity
            android:name=".uis.Task.TaskDeliveryDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uis.Task.TaskHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uis.Task.TaskProcurementkDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 收货 -->
        <activity android:name=".uis.Receiving.ReceivActivity" />

        <!-- 装箱 -->
        <activity
            android:name=".uis.Binning.BinningActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uis.Binning.BinningDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <!-- 配送 -->
        <activity
            android:name=".uis.Delivery.DeliveryDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".uis.Delivery.DeliveryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 选择图片 -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard" />

        <activity
            android:name=".uis.BrowseImageActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".uis.ZoomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <!-- bugly全量更新 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

    </application>

</manifest>